<template>
    <div>
      <h3 class="entityName">{{ entityName }}</h3>

      <!-- Filter Panel -->
      
        <transition name="slide-fade">
          <div id="filterPanel" v-if="!hideFilterPanel && activeTab === 0">
              <slot name="filterPanel">filterPanel slot content</slot>
          </div>
        </transition>
      

      <!-- Edition Panel -->
      <transition name="slide-fade">
          <div id="editorPanel" v-if="activeTab === 1">
              <slot name="editorPanel">editorPanel slot content</slot>
          </div>
      </transition>

      <!-- Buttons Toolbar -->
      <div class="row buttonsToolbar">
        <div class="col-sm-4 col-sm-offset-12 col-md-3 col-md-offset-8 col-lg-2 col-lg-offset-10">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" v-if="showAddButton" role="group">
              <button type="button" class="btn btn-default" @click.prevent="showEditorPanel(null)">Novo</button>
            </div>
            <div class="btn-group" v-if="activeTab == 0" role="group">
              <button type="button" class="btn btn-default" @click.prevent="loadData">Buscar</button>
            </div>
            <div class="btn-group" v-if="this.isMostrarBotaoSalvar()" role="group">
              <button type="button" class="btn btn-default" @click.prevent="salvar">Salvar</button>
            </div>
            <div class="btn-group" v-if="activeTab > 0" role="group">
              <button type="button" class="btn btn-default" @click.prevent="back">Voltar</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Table Panel -->
      <keep-alive>
        <transition name="slide-fade">
          <div v-if="activeTab === 0">
            <siop-table ref="tabela" :columns="columns" :rows="rows" :lazy="false" :selectable="true" 
            v-on:carregar-dados="loadData" v-on:linha-selecionada="selectRow" />
          </div>
        </transition>
      </keep-alive>
  </div>
</template>

<script>
import Table from '@/components/Table';

export default {
  data: function data() {
    return {
      activeTab: 0,
    };
  },
  components: {
    'siop-table': Table,
  },
  props: {
    columns: Array,
    entityName: { type: String, default: 'Entity Name' },
    hideFilterPanel: { type: Boolean, default: false },
    rows: { type: Array },
    showAddButton: { type: Boolean, default: false },
    mostrarBotaoSalvar: { type: Boolean, default: false },
  },
  methods: {
    loadData() {
      this.activeTab = 0;
      this.$emit('carregar-dados');
    },
    back() {
      this.activeTab -= 1;
    },
    showEditorPanel(row) {
      this.activeTab = 1;
      this.$emit('linha-selecionada', row);
    },
    selectRow(row) {
      this.showEditorPanel(row);
    },
    isMostrarBotaoSalvar() {
      return this.$props.mostrarBotaoSalvar && this.activeTab === 1;
    },
    salvar() {
      this.$emit('salvar');
      this.back();
    },
  },
};
</script>

<style>
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .0s;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(100px);
  opacity: 0;
}

h3.entityName {
  padding-bottom: .15em;
  border-bottom: 1px solid #bbb;
}

#filterPanel {
  padding-bottom: 1em;
  border-bottom: 1px solid #bbb;
  margin-bottom: .5em;
}
#editorPanel {
  padding-bottom: 1em;
  border-bottom: 1px solid #bbb;
  margin-bottom: .5em;
}

.buttonsToolbar {
  padding-bottom: 1em;
  border-bottom: .2em solid #aaa;
  margin-bottom: 1em;
}

</style>
