<template>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
            <span>Total: {{ total }}. Exibindo de {{ (paginaAtual * tamanhoPagina) +  1}}  a  {{ (paginaAtual + 1) * tamanhoPagina }}</span>
        </div>

        <div class="col-md-5">
          <ul class="pagination pagination-sm">
              <li class="disabled">
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
              <li v-for="p in totalPaginas" :class="{active: p === (paginaAtual + 1)}">
                  <a href="#" @click.prevent="selecionarPagina(p)">{{ p }}
                      <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li class="disabled">
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&#x00bb;</span>
                </a>
              </li>
          </ul>
        </div>

        <div class="col-md-3">
          <div class="form-group form-group-sm">
            <div class="row">
              <label class="col-sm-8" for="siopPaginadorSelectTamanhoPagina">Registros por página:</label>
              <div class="col-sm-4">
                <select class="form-control input-sm" id="siopPaginadorSelectTamanhoPagina" v-model="tamanhoPagina">
                  <option @click="selecionarTamanhoPagina(5)">5</option>
                  <option @click="selecionarTamanhoPagina(10)">10</option>
                  <option @click="selecionarTamanhoPagina(20)">20</option>
                  <option @click="selecionarTamanhoPagina(50)">50</option>
                  <option @click="selecionarTamanhoPagina(100)">100</option>
                </select>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</template>

<script>
export default {
  props: {
    total: { default: 0 },
    tamanhoPagina: { default: 5 },
    paginaAtual: { default: 1 },
  },
  methods: {
    selecionarPagina(p) {
      // paginaAtual é uma propriedade passada pelo componente pai,
      // então nós temos que emitir um evento para que o pai altere este valor
      this.$emit('alterou-pagina-atual', p > 0 ? (p - 1) : 0);
    },
    selecionarTamanhoPagina(novoTamanho) {
      // tamanhoPagina é uma propriedade passada pelo componente pai,
      // então nós temos que emitir um evento para que o pai altere este valor
      this.$emit('alterou-tamanho-pagina', novoTamanho);
    },
  },
  computed: {
    totalPaginas() {
      let total = parseInt(this.total / this.tamanhoPagina, 10);
      if (this.total % this.tamanhoPagina) {
        total += 1;
      }
      if (this.paginaAtual >= total) {
        this.selecionarPagina(total);
      }
      return total;
    },
  },
};
</script>

<style>
.pagination {
  margin-top: 0px;
}
</style>
