<template>
    <div>
        <div class="container-fluid row" :id="id">
            <!-- coluna disponíveis -->
            <div class="form-group col-12 col-sm-5">
                <label for="disponiveis">Disponíveis ({{ opcoesDisponiveis.length }})</label>
                <select multiple ref="selectDisponiveis" class="form-control">
                    <option v-for="opcao in opcoesDisponiveis" :value="opcao.valor">{{ opcao.rotulo }}</option>
                </select>
            </div>
            <!-- coluna escolhidos -->
            <div class="form-group col-12 col-sm-2" id="colunaBotoes">
                <button class="btn btn-secondary btn-block" @click="escolher">Escolher <i class="fa fa-plus"></i></button>
                <button class="btn btn-secondary btn-block" @click="remover">Remover <i class="fa fa-minus"></i></button>
            </div>
            <!-- coluna escolhidos -->
            <div class="form-group col-12 col-sm-5">
                <label for="disponiveis">Escolhidos ({{ opcoesEscolhidas.length }})</label>
                <select multiple class="form-control" ref="selectEscolhidos">
                    <option v-for="opcao in opcoesEscolhidas" :value="opcao.valor">{{ opcao.rotulo }}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  props: {
    id: { type: String, default: 'selecaoListaDupla' },
    opcoesDisponiveis: { type: Array },
    opcoesEscolhidas: { type: Array },
  },
  methods: {
    escolher() {
      let selecionados = [];
      selecionados = this.$refs.selectDisponiveis.querySelectorAll('option:checked');
      if (selecionados.length) {
        Object.keys(selecionados).forEach((key) => {
          this.$refs.selectEscolhidos.add(selecionados[key]);
          selecionados[key].selected = false;
        });
      }
    },
    remover() {
      let escolhidos = [];
      escolhidos = this.$refs.selectEscolhidos.querySelectorAll('option:checked');
      if (escolhidos.length) {
        Object.keys(escolhidos).forEach((key) => {
          this.$refs.selectDisponiveis.add(escolhidos[key]);
          escolhidos[key].selected = false;
        });
      }
    },
    obterDisponiveis() {
      const itens = [];
      this.$refs.selectDisponiveis.querySelectorAll('option').forEach((option) => {
        itens.push({ valor: option.value, rotulo: option.label });
      });
      return itens;
    },
    obterEscolhidos() {
      const itens = [];
      this.$refs.selectEscolhidos.querySelectorAll('option').forEach((option) => {
        itens.push({ valor: option.value, rotulo: option.label });
      });
      return itens;
    },
  },
};
</script>

<style>
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
#colunaBotoes {
  display: flex;
  flex-direction: column;
  margin: auto;
}
</style>
