<template>
  <div class="panel panel-default">
      <div class="panel-body">
        <table class="table" v-bind:class="classObject">
            <thead>
                <tr>
                  <th v-if="selectable">
                    <input type="checkbox" v-model="selecionarTodos">
                  </th>
                  <th v-for="column in columns">{{ column.name }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, r) in rows" v-if="mostrarLinha(r)">
                    <td v-if="selectable">
                      <input type="checkbox" v-model="rows[r].checked">
                    </td>
                    <td v-for="cel in row.data"><a href="#" @click.prevent="selecionarLinha(r)">{{ cel }}</a></td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <keep-alive>
          <siop-paginador ref="pagination" :total="rows.length" :paginaAtual="paginaAtual" :tamanhoPagina="tamanhoDaPagina" 
            v-on:alterou-pagina-atual="setPaginaAtual" v-on:alterou-tamanho-pagina="setTamanhoDaPagina" />
        </keep-alive>
      </div>
  </div>
</template>

<script>
import Paginador from '@/components/Paginador';

export default {
  components: {
    'siop-paginador': Paginador,
  },
  data: function data() {
    return {
      selecionarTodos: false,
      paginaAtual: 0,
      tamanhoDaPagina: 5,
    };
  },
  props: {
    bordered: { type: Boolean, default: false },
    columns: Array,
    condensed: { type: Boolean, default: false },
    hover: { type: Boolean, default: true },
    lazy: { type: Boolean, default: true },
    rows: { type: Array },
    selectable: { type: Boolean, default: false },
    striped: { type: Boolean, default: true },
  },

  methods: {
    mostrarLinha(r) {
      const firstRow = this.paginaAtual * this.tamanhoDaPagina;
      const lastRow = (this.paginaAtual + 1) * this.tamanhoDaPagina;
      return r >= firstRow && r < lastRow;
    },

    setPaginaAtual(p) {
      this.paginaAtual = p;
    },

    setTamanhoDaPagina(ps) {
      this.tamanhoDaPagina = ps;
    },

    selecionarLinha(rowIndex) {
      this.$emit('linha-selecionada', this.rows[rowIndex]);
    },
  },

  computed: {
    classObject: function classObject() {
      return {
        'table-striped': JSON.parse(this.striped),
        'table-hover': JSON.parse(this.hover),
        'table-condensed': JSON.parse(this.condensed),
        'table-bordered': JSON.parse(this.bordered),
      };
    },
    selectedRows: function get() {
      const selectedRows = [];
      this.rows.forEach((row) => {
        if (row.checked) {
          selectedRows.push(row);
        }
      });
      return selectedRows;
    },
  },
  watch: {
    rows: function rowsChanged(newData) {
      if (newData == null || newData.length === 0) {
        return;
      }
      newData.forEach((row, index) => {
        if (row.name !== 'RowData') {
          this.rows.splice(index, 1, {
            name: 'RowData',
            checked: false,
            data: row,
          });
        }
      });
    },

    selecionarTodos: function selecionarTodosChanged() {
      this.rows.forEach((row, index) => {
        this.rows[index].checked = this.selecionarTodos;
      });
    },

  },
  created() {
    if (!JSON.parse(this.lazy)) {
      this.$emit('carregar-dados');
    }
  },
};
</script>
