<template>
    <siop-showcase component-name="Crud | <siop-crud>">
      <siop-crud entityName="Ação" :columns="columns" :rows="rows" :showAddButton="isPodeAdicionar()" :mostrarBotaoSalvar="true"
        v-on:carregar-dados="loadData" v-on:linha-selecionada="selectRow" v-on:salvar="salvarRegistro">
        <div slot="filterPanel">
          <!-- formulário de pesquisa -->
          <div class="form-horizontal">
            <div class="form-group">
              <label for="txtCodUO" class="col-xs-4 col-md-2">Unidade Orçamentária:</label>
              <div class="col-xs-8 col-md-4">
                <input type="text" v-model="filtro.uo" class="form-control" id="txtCodUO" placeholder="Código da unidade orçamentária">
              </div>
            </div>
            <div class="form-group">
              <label for="txtCodAcao" class="col-xs-4 col-md-2">Ação:</label>
              <div class="col-xs-8 col-md-4">
                <input type="text" v-model="filtro.acao" class="form-control" id="txtCodAcao" placeholder="Código da ação">
              </div>
            </div>
            <div class="form-group">
              <label for="txtCodPO" class="col-xs-4 col-md-2">Plano Orçamentário:</label>
              <div class="col-xs-8 col-md-4">
                <input type="text" v-model="filtro.po" class="form-control" id="txtCodPO" placeholder="Código plano orçamentário">
              </div>
            </div>
          </div>
          <!-- fim do formulário de pesquisa -->
        </div>
        <div slot="editorPanel">
          <!-- edicao do registro -->
          <div class="form-horizontal">
              <div class="form-group">
                <label for="txtCodUO" class="col-xs-4 col-md-2">Unidade Orçamentária:</label>
                <div class="col-xs-8 col-md-4">
                  <input type="text" v-model="selectedRow.data[1]" class="form-control" id="txtCodUO" placeholder="Código da unidade orçamentária">
                </div>
              </div>
              <div class="form-group">
                <label for="txtCodAcao" class="col-xs-4 col-md-2">Ação:</label>
                <div class="col-xs-8 col-md-4">
                  <input type="text" v-model="selectedRow.data[2]" class="form-control" id="txtCodAcao" placeholder="Código da ação">
                </div>
              </div>
              <div class="form-group">
                <label for="txtCodPO" class="col-xs-4 col-md-2">Plano Orçamentário:</label>
                <div class="col-xs-8 col-md-4">
                  <input type="text" v-model="selectedRow.data[3]" class="form-control" id="txtCodPO" placeholder="Código plano orçamentário">
                </div>
              </div>
            </div>
            <!-- fim da edicao do registro -->
        </div>
      </siop-crud>
      <div slot="template">
          <code>&lt;siop-crud entityName="Ação" :columns="columns" :rows="rows" :showAddButton="isPodeAdicionar()" 
v-on:carregar-dados="loadData" v-on:linha-selecionada="selectRow" v-on:salvar="salvarRegistro">

  &lt;div slot="filterPanel">

  &lt;!-- formulário de pesquisa -->

  &lt;div class="form-horizontal">
    &lt;div class="form-group">
      &lt;label for="txtCodUO" class="col-xs-4 col-md-2">Unidade Orçamentária:&lt;/label>
      &lt;div class="col-xs-8 col-md-4">
        &lt;input type="text" v-model="filtro.uo" class="form-control" id="txtCodUO" 
          placeholder="Código da unidade orçamentária">
      &lt;/div>
    &lt;/div>
    &lt;div class="form-group">
      &lt;label for="txtCodAcao" class="col-xs-4 col-md-2">Ação:&lt;/label>
      &lt;div class="col-xs-8 col-md-4">
        &lt;input type="text" v-model="filtro.acao" class="form-control" id="txtCodAcao" 
          placeholder="Código da ação">
      &lt;/div>
    &lt;/div>
    &lt;div class="form-group">
      &lt;label for="txtCodPO" class="col-xs-4 col-md-2">Plano Orçamentário:&lt;/label>
      &lt;div class="col-xs-8 col-md-4">
        &lt;input type="text" v-model="filtro.po" class="form-control" id="txtCodPO" 
          placeholder="Código plano orçamentário">
      &lt;/div>
    &lt;/div>
  &lt;/div>
  &lt;!-- fim do formulário de pesquisa -->
&lt;/div>

&lt;div slot="editorPanel">

  &lt;!-- edicao do registro -->

  &lt;div class="form-horizontal">
    &lt;div class="form-group">
      &lt;label for="txtCodUO" class="col-xs-4 col-md-2">Unidade Orçamentária:&lt;/label>
      &lt;div class="col-xs-8 col-md-4">
        &lt;input type="text" v-model="selectedRow.data[1]" class="form-control" id="txtCodUO" placeholder="Código da unidade orçamentária">
      &lt;/div>
    &lt;/div>
    &lt;div class="form-group">
      &lt;label for="txtCodAcao" class="col-xs-4 col-md-2">Ação:&lt;/label>
      &lt;div class="col-xs-8 col-md-4">
        &lt;input type="text" v-model="selectedRow.data[2]" class="form-control" id="txtCodAcao" placeholder="Código da ação">
      &lt;/div>
    &lt;/div>
    &lt;div class="form-group">
      &lt;label for="txtCodPO" class="col-xs-4 col-md-2">Plano Orçamentário:/label>
      &lt;div class="col-xs-8 col-md-4">
        &lt;input type="text" v-model="selectedRow.data[3]" class="form-control" id="txtCodPO" placeholder="Código plano orçamentário">
      &lt;/div>
    &lt;/div>
  &lt;/div>
  &lt;!-- fim da edicao do registro -->
&lt;/div>
&lt;/siop-crud>
          </code>
        </div>
        <div slot="script">
          <code>import Crud from '@/components/Crud';
import dadosEstaticos from '@/dados';

export default {
  components: {
    'siop-crud': Crud,
  },
  data: function data() {
    return {
      filtro: {
        uo: null,
        acao: null,
        po: null,
      },
      columns: [
        { name: '#' },
        { name: 'Unidade Orçamentária' },
        { name: 'Ação' },
        { name: 'Plano Orçamentário' },
      ],
      rows: [],
      selectedRow: { data: [] },
    };
  },
  methods: {
    loadData() {
      this.rows = dadosEstaticos.rows;
      if (this.filtro.uo != null && this.filtro.uo.length > 0) {
        this.rows = this.rows.filter(row => row.data[1].indexOf(this.filtro.uo) > -1);
      }
      if (this.filtro.acao != null && this.filtro.acao.length > 0) {
        this.rows = this.rows.filter(row => row.data[2].indexOf(this.filtro.acao) > -1);
      }
      if (this.filtro.po != null && this.filtro.po.length > 0) {
        this.rows = this.rows.filter(row => row.data[3].indexOf(this.filtro.po) > -1);
      }
    },
    selectRow(row) {
      if (row == null) {
        this.selectedRow = { data: [] };
      } else {
        this.selectedRow = row;
      }
    },
    isPodeAdicionar() {
      return true;
    },
    salvarRegistro() {
      window.alert(this.selectedRow);
    },
  },
};
            </code>
        </div>
    </siop-showcase>
</template>

<script>
import ShowCase from '@/components/showcase/ShowCase';
import Crud from '@/components/Crud';
import dadosEstaticos from '@/dados';

export default {
  components: {
    'siop-showcase': ShowCase,
    'siop-crud': Crud,
  },
  data: function data() {
    return {
      filtro: {
        uo: null,
        acao: null,
        po: null,
      },
      columns: [
        { name: '#' },
        { name: 'Unidade Orçamentária' },
        { name: 'Ação' },
        { name: 'Plano Orçamentário' },
      ],
      rows: [],
      selectedRow: { data: [] },
    };
  },
  methods: {
    loadData() {
      this.rows = dadosEstaticos.rows;
      console.log(this.rows);
      if (this.filtro.uo != null && this.filtro.uo.length > 0) {
        this.rows = this.rows.filter(row => row.data[1].indexOf(this.filtro.uo) > -1);
      }
      if (this.filtro.acao != null && this.filtro.acao.length > 0) {
        this.rows = this.rows.filter(row => row.data[2].indexOf(this.filtro.acao) > -1);
      }
      if (this.filtro.po != null && this.filtro.po.length > 0) {
        this.rows = this.rows.filter(row => row.data[3].indexOf(this.filtro.po) > -1);
      }
    },
    selectRow(row) {
      if (row === null) {
        this.selectedRow = { data: [] };
      } else {
        this.selectedRow = row;
      }
    },
    isPodeAdicionar() {
      return true;
    },
    salvarRegistro() {
      window.alert(this.selectedRow);
    },
  },
};
</script>
