<template>
    <div class="parameter">
        <h4 class="parameterName">{{ name }}</h4>
        <div class="parameterDescription"><slot/></div>
        <div class="parameterProperty" v-for="(value, key) in properties">
            <b><span>{{ key }}</span>:</b> <span>{{ value }}</span>
        </div>
    </div>
</template>
<script>
export default {
  props: {
    name: { type: String },
    properties: { type: Object },
  },
};
</script>

<style>
.parameter {
    margin-bottom: 2em;
}
.parameterName {
    font-weight: 600;
    margin-left:1em;
}
.parameterDescription {
    margin-left:2em;
    padding-bottom:1em;
}
.parameterProperty {
    margin-left:4em;
}
</style>
