<template>
    <siop-showcase component-name="SelecaoListaDupla | <siop-selecao-lista-dupla>">
        <siop-selecao-lista-dupla ref="minhaSelecao" id="minhaSelecao" :opcoesDisponiveis="this.disponiveis" :opcoesEscolhidas="this.escolhidas" />
        <div>Disponíveis: {{ this.obterDisponiveis().length }}</div>
    </siop-showcase>
</template>

<script>
import SiopShowCase from '@/components/showcase/ShowCase';
import SiopSelecaoListaDupla from '@/components/SelecaoListaDupla';

export default {
  components: {
    'siop-showcase': SiopShowCase,
    'siop-selecao-lista-dupla': SiopSelecaoListaDupla,
  },
  data: function data() {
    return {
      disponiveis: [
        { valor: 1, rotulo: 'Disponível 01' },
        { valor: 2, rotulo: 'Disponível 02' },
        { valor: 3, rotulo: 'Disponível 03' },
        { valor: 4, rotulo: 'Disponível 04' },
      ],
      escolhidas: [
        { valor: 5, rotulo: 'Escolhida 05' },
        { valor: 6, rotulo: 'Escolhida 06' },
      ],
    };
  },
  methods: {
    obterDisponiveis() {
      if (this.$refs.minhaSelecao) {
        return this.$refs.minhaSelecao.obterDisponiveis();
      }
      return [];
    },
    obterEscolhidos() {
      if (this.$refs.minhaSelecao) {
        return this.$refs.minhaSelecao.obterEscolhidos();
      }
      return [];
    },
  },
};
</script>
