<template>
    <div class="showcase">
        <h2>{{ componentName }}</h2>
        <ul class="nav nav-tabs">
          <li role="showcase" v-bind:class="{ 'active': activeTab == 0}"><a href="#" @click.prevent="showTab(0)">Informações Gerais</a></li>
          <li role="showcase" v-bind:class="{ 'active': activeTab == 1}"><a href="#" @click.prevent="showTab(1)">Demo</a></li>
          <li role="showcase" v-bind:class="{ 'active': activeTab == 2}"><a href="#" @click.prevent="showTab(2)">Template</a></li>
          <li role="showcase" v-bind:class="{ 'active': activeTab == 3}"><a href="#" @click.prevent="showTab(3)">Script</a></li>
        </ul>
        <div id="tabContent">
          <div v-if="activeTab == 0" id="componentDescription">
            <slot name="componentDescription">[slot <i>componentDescription</i>]</slot>
          </div>
          <div v-if="activeTab == 1">
            <slot></slot>
          </div>
          <div v-if="activeTab == 2">
            <pre><slot name="template"></slot></pre>
          </div>
          <div v-if="activeTab == 3">
            <pre><slot name="script"></slot></pre>
          </div>
        </div>
  </div>    
</template>

<script>
export default {
  props: {
    componentName: { type: String, default: 'Component' },
  },
  data: function data() {
    return {
      activeTab: 0,
    };
  },
  methods: {
    showTab(tab) {
      this.activeTab = tab;
    },
  },
};
</script>

<style>
.showcase h2 {
  padding-bottom: .5em;
  border-bottom: 1px solid #EEE;
}
#componentDescription {
  padding: 2em;
}
#tabContent {
  padding: 1em;
  vertical-align: top;
},
#tabContent > pre {
  padding: 1em;
  vertical-align: top;
},
#tabContent > code {
  vertical-align: top;
}
</style>

