<template>
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
        <li v-bind:class="{ active: $route.path == '/crud' }"><router-link v-bind:to="'/crud'">Crud</router-link></li>
        <li v-bind:class="{ active: $route.path == '/table' }"><router-link v-bind:to="'/table'">Table</router-link></li>
        <li v-bind:class="{ active: $route.path == '/selecao-lista-dupla' }"><router-link v-bind:to="'/selecao-lista-dupla'">SelecaoListaDupla</router-link></li>
        </ul>
    </div>

</template>

<style>
.sidebar {
    top: 51px;
    border-right: 1px solid #eee;
}
.nav-sidebar li.active {
    background-color: #EEE;
}
</style>
