<template>
    <siop-showcase component-name="Table | <siop-table>">
        <siop-table ref="tabela" :columns="columns" :rows="rows" :lazy="false" :selectable="true" 
          v-on:carregar-dados="loadData" v-on:linha-selecionada="selectRow" />
        <span>Itens selecionados: {{ getSelectedRows().length }}</span>
        <div slot="componentDescription">
          <h3>Descrição</h3>
          <p>[texto descrevendo o componente em linhas gerais.]</p>
          <h3>Parâmetros</h3>
          <siop-showcase-parameter name="bordered" :properties="{ type: 'Boolean', default: false }">
            Determina se a tabela deve exibir bordas verticais entre as colunas
          </siop-showcase-parameter>
          <siop-showcase-parameter name=":columns" :properties="{ type: 'Array' }">
            Estrutura de colunas da tabela. Cada elemento do array deve ser um objeto com um atributo <code>name</code>, que é o conteúdo do cabeçalho da tabela.
          </siop-showcase-parameter>
          <siop-showcase-parameter name="condensed" :properties="{ type: 'Boolean', default: false }">
            Determina se a tabela deve ser exibida em modo compacto.
          </siop-showcase-parameter>
          <siop-showcase-parameter name="hover" :properties="{ type: 'Boolean', default: true }">
            Determina se o componente deve destacar a linha por sob a qual o ponteiro do mouse esteja posicionado.
          </siop-showcase-parameter>
          <siop-showcase-parameter name="lazy" :properties="{ type: 'Boolean', default: true }">
            Determina se o componente deve executar o método definido em <code>v-on:load-data</code> na fase <code>created</code> do seu ciclo de vida.
          </siop-showcase-parameter>
          <siop-showcase-parameter name="ref" :properties="{ type: 'String' }">
            Nome da referência a ser utilizada para acessar o componente atrés de <code>this.$refs</code>.
          </siop-showcase-parameter>
          <siop-showcase-parameter name=":rows" :properties="{ type: 'Array' }">
            Estrutura de linhas da tabela. Cada elemento do array deve ser um array com os valores ordenados na mesma sequência definida em <code>columns</code>.
          </siop-showcase-parameter>
          <siop-showcase-parameter name="selectable" :properties="{ type: 'Boolean', default: false }">
            Determina se o componente deve possibilitar a seleção de linhas por meio de checkboxes posicionados na primeira coluna.</br>
            Para obter os registros selecionados, utilize a referência definida em <code>:ref</code> para invocar o <code>getSelectedItens()</code> do componente.</br>
            Exemplo:</br>
            <pre><code>&lt;siop-table ref="tabela" ... />
&lt;span>Itens selecionados: <code>&#x7B;&#x7B; </code>getSelectedRows().length <code>&#x7D;&#x7D;</code>&lt;/span>

getSelectedRows() {
  // this.$refs.tabela só estará disponível depois que o componente for completamente criado
  if (this.$refs.tabela) {
    return this.$refs.tabela.selectedRows;
  }
  return [];
}</code>
            </pre>
          </siop-showcase-parameter>
          <siop-showcase-parameter name="striped" :properties="{ type: 'Boolean', default: true }">
            Determina se as linhas devem possuir cores de fundo intercaladas de forma a exibir um efeito tipo zebra.
          </siop-showcase-parameter>
          <siop-showcase-parameter name="v-on:linha-selecionada" :properties="{ type: 'Function' }">
            Método do componente que contém <code>siop-table</code> responsável por tratar o evento emitido por este quando uma linha é selecionada.
          </siop-showcase-parameter>
          <siop-showcase-parameter name="v-on:carregar-dados" :properties="{ type: 'Function' }">
            Método do componente que contém <code>siop-table</code> responsável por preencher o mesmo atributo definido em <code>:rows</code>.<br/>
            Este método recebe como parâmetro um objeto com dois atributos: 
            <code>checked</code> - um boolean indicado se a linha está marcada; e 
            <code>data</code> - um array com os dados da linha.
          </siop-showcase-parameter>
        </div>
        <div slot="template"><code>&lt;siop-table ref="tabela" :columns="columns" :rows="rows" :lazy="false" :selectable="true" 
v-on:load-data="loadData" v-on:row-selected="selectRow" />
&lt;span>Itens selecionados: <code>{{ </code>getSelectedRows().length <code>}}</code>&lt;/span>
          </code>
        </div>
        <div slot="script"><code>import Table from '@/components/Table';
import dadosEstaticos from '@/dados';

export default {
  components: {
    'siop-table': Table,
  },
  data: function data() {
    return {
      columns: [
        { name: '#' },
        { name: 'Unidade Orçamentária' },
        { name: 'Ação' },
        { name: 'Plano Orçamentário' },
      ],
      rows: [],
      selectedRow: null
    };
  },
  methods: {
    loadData() {
      this.rows = dadosEstaticos.rows;
    },
    getSelectedRows() {
      if (this.$refs.tabela) {
        return this.$refs.tabela.selectedRows;
      }
      return [];
    },
    selectRow(row) {
      window.alert(row.data);
    },
  },

};
            </code>
        </div>
    </siop-showcase>
</template>

<script>
import ShowCase from '@/components/showcase/ShowCase';
import ShowCaseParameter from '@/components/showcase/Parameter';
import Table from '@/components/Table';
import dadosEstaticos from '@/dados';

export default {
  components: {
    'siop-showcase': ShowCase,
    'siop-showcase-parameter': ShowCaseParameter,
    'siop-table': Table,
  },
  data: function data() {
    return {
      columns: [
        { name: '#' },
        { name: 'Unidade Orçamentária' },
        { name: 'Ação' },
        { name: 'Plano Orçamentário' },
      ],
      rows: [],
    };
  },
  methods: {
    loadData() {
      this.rows = dadosEstaticos.rows;
    },
    getSelectedRows() {
      if (this.$refs.tabela) {
        return this.$refs.tabela.selectedRows;
      }
      return [];
    },
    selectRow(row) {
      window.alert(row.data);
    },
  },

};
</script>

<style>
h3 {
  padding-top: .5em;
}
</style>
