<template>
  <div id="app">
    <app-header />
    <div class="container-fluid">
      <div class="row" style="display:flex;">      
        <app-sidebar />
        <div id="main" class="col-sm-9 col-md-10 main" style="margin-top: 51px;">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/showcase/Header';
import SideBar from '@/components/showcase/SideBar';

export default {
  name: 'app',
  components: {
    'app-header': Header,
    'app-sidebar': SideBar,
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
},
html, body {
  min-height: 100%;
},

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;  
  background-color: green;
  height: 100%;
}
</style>
